.bb-program-default-wrap {
  max-width: 1144px;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 75px;
  .bb-program-highlight-heading {
    font-size: 32px;
    text-align: center;
    color: #7e7e7e;
    width: fit-content;
    position: relative;
    margin: 0 auto 3rem auto;
    font-weight: normal;
    @media screen and (max-width: 800px) {
      font-size: 1em;
      margin: 0 auto 2rem auto;
    }
    .bb-program-blockMB {
      @media screen and (max-width: 800px) {
        display: block;
      }
    }
  }
  .bb-program-highlight-heading::before {
    content: "";
    position: absolute;
    height: 25px;
    background: #ffb800;
    z-index: -1;
    bottom: -3px;
    width: 458px;
    right: -10%;
    left: auto;
    @media screen and (max-width: 800px) {
      width: 190px;
      right: auto;
      height: 10px;
      bottom: 0px;
    }
  }
  .bb-program-twoColGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 80px;
    margin-top: 100px;
    width: 90%;
    margin: 0 auto;
    margin-top: 6rem;
    @media screen and (max-width: 800px) {
      margin-top: 50px;
      grid-template-columns: 1fr;
      grid-row-gap: 3rem;
    }
    .bb-program-card {
      display: flex;
      max-height: 215px;
      box-shadow: rgb(0 0 0 / 10%) 2px 2px 15px 5px;
      .bb-program-card-img {
        width: 45%;
        div {
          width: 100%;
          height: 100%;
          img {
            object-fit: fill;
          }
        }
      }
      .bb-program-card-content {
        width: 55%;
        display: flex;
        padding: 1rem;
        flex-direction: column;
        justify-content: center;
        .bb-program-card-heading {
          font-size: 1.5em;
          font-weight: bold;
          color: #36445d;
          @media screen and (max-width: 800px) {
            font-size: 1em;
          }
        }
        .bb-program-card-desc {
          margin: 1rem 0 2rem 0;
          color: #243e60;
          font-size: 0.7em;
          text-align: left;
          line-height: 14px;
        }
        .bb-program-card-btn {
          display: inline-flex;
          justify-content: center;
          align-items: center;
          width: 60%;
          @media screen and (max-width: 800px) {
            width: 70%;
          }
          a {
            font-weight: 600;
            font-size: 0.7em;
            line-height: 17px;
            text-align: center;
            color: #ffffff;
            display: inline-block;
            width: 100%;
            background: #ffb800;
            box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.25);
            border-radius: 100px;
            padding-top: 0.5em;
            padding-bottom: 0.5em;
            cursor: pointer;
          }
        }
      }
    }
  }
}
