.bb-program-overview {
  margin-top: 100px;
  .bb-highlight-heading {
    font-size: 2em;
    text-align: center;
    color: #7e7e7e;
    width: fit-content;
    position: relative;
    margin: 0 auto 3rem auto;
    font-weight: normal;
    @media screen and (max-width: 800px) {
      font-size: 1rem;
      margin: 0 auto 2rem auto;
    }
  }
  .bb-highlight-heading::before {
    content: "";
    position: absolute;
    width: 304px;
    height: 25px;
    background: #ffb800;
    z-index: -1;
    bottom: 2px;
    left: 30%;
    @media screen and (max-width: 800px) {
      width: 160px;
      height: 10px;
    }
  }
  .bb-default-wrap {
    max-width: 1144px;
    width: 90%;
    margin: 0 auto;
    .bb-program-overview-head-desc {
      font-size: 1em;
      line-height: 32px;
      text-align: center;
      color: #243e60;
      max-width: 1066px;
      margin: 0 auto;
      @media screen and (max-width: 800px) {
        font-size: 0.85em;
        line-height: 18px;
      }
    }
    .bb-program-overview-cards {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-gap: 2rem;
      margin-top: 100px;
      margin-bottom: 3rem;
      @media screen and (max-width: 800px) {
        grid-template-columns: 1fr;
        margin-top: 50px;
      }
      .bb-program-overview-card {
        text-align: center;
        @media screen and (max-width: 800px) {
          text-align: left;
          display: grid;
          align-items: center;
          grid-template-columns: 80px 1fr;
        }
        .bb-program-overview-card-img {
          height: 65px;
          object-fit: contain;
          margin-bottom: 29px;
          @media screen and (max-width: 800px) {
            height: auto;
            max-width: 50px;
            margin-bottom: 0;
            margin-top: 0.2rem;
            max-height: 53px;
          }
        }
        .bb-program-overview-card-desc {
          font-size: 0.9em;
          line-height: 28px;
          text-align: center;
          color: #243e60;
          @media screen and (max-width: 800px) {
            text-align: left;
            font-size: 0.85em;
            line-height: 19px;
            margin: 0rem auto 0 auto;
          }
        }
      }
    }
    .bb-program-overview-insights {
      .bb-program-overview-insights-heading {
        font-size: 1.5em;
        font-weight: bold;
        text-align: center;
        color: #7e7e7e;
        margin-bottom: 40px;
        @media screen and (max-width: 800px) {
          font-size: 1rem;
        }
      }
      .bb-program-overview-insights-MobileImage {
        @media screen and (max-width: 800px) {
          max-height: 360px;
          margin: 0 auto;
          width: 90%;
        }
        img {
          object-fit: contain;
        }
      }
    }
  }
  .bb-overview-subhead {
    font-weight: bold;
    line-height: 30px;
    text-align: center;
    color: #ffb800;
    font-size: 1.25em;
    margin: 3rem auto 0 auto;
    max-width: 1066px;
    width: 90%;
    @media screen and (max-width: 800px) {
      font-size: 1em;
      line-height: 20px;
      margin: 2.5rem auto 0 auto;
    }
  }
  .bb-single-testimonial {
    padding: 2rem;
    background: #ffffff;
    box-shadow: 2px 2px 25px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    margin: 105px auto;
    max-width: 965px;
    @media screen and (max-width: 800px) {
      padding: 1rem;
      margin-top: 42px;
      display: block;
    }
    .bb-single-testimonial-img {
      max-width: 212px;
      max-height: 195px;
      min-width: 212px;
      margin-right: 30px;
      border-radius: 50%;
      @media screen and (max-width: 800px) {
        max-width: 95px;
        margin-right: 15px;
        min-width: 90px;
      }
    }
    .bb-single-testimonial-content {
      .bb-single-testimonial-content-head {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0.8rem;
        border-bottom: 1px solid #243e60;
        margin-bottom: 1rem;
        @media screen and (max-width: 800px) {
          font-size: 0.8em;
          line-height: 1rem;
          border-bottom: none;
          margin-bottom: 0rem;
        }
        .bb-single-testimonial-content-head-desc {
          margin-bottom: 0;
          font-size: 0.9em;
          line-height: 24px;
          text-align: justify;
          color: #243e60;
          @media screen and (max-width: 800px) {
            font-size: 0.85em;
            line-height: 1rem;
            align-self: center;
            text-align: left;
            border-bottom: 1px solid #243e60;
            padding-bottom: 1em;
          }
        }
        .bb-single-testimonial-content-head-quote {
          width: 50px;
          height: 39px;
          @media screen and (max-width: 800px) {
            height: 20px;
            width: auto;
          }
        }
      }
      .bb-single-testimonial-content-desc {
        font-size: 0.9em;
        line-height: 24px;
        font-style: italic;
        text-align: justify;
        color: #243e60;
        margin-bottom: 0;
        @media screen and (max-width: 800px) {
          font-size: 0.8em;
          line-height: 21px;
        }
      }
    }
  }
  .bb-queryBG {
    .bb-wrapSmall {
      max-width: 965px;
      .bb-program-overview-query {
        padding: 2rem;
        background: #ffffff;
        box-shadow: 4px 4px 45px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        margin: 87px auto;
        @media screen and (max-width: 800px) {
          margin: 42px auto;
          margin-top: 5rem;
          padding: 1rem;
        }
        .bb-program-overview-query-head {
          font-weight: bold;
          font-size: 2em;
          text-transform: uppercase;
          color: #ffb800;
          margin-bottom: 1rem;
          @media screen and (max-width: 800px) {
            font-size: 1rem;
            margin-bottom: 0.5rem;
          }
        }
        .bb-program-overview-query-desc {
          font-size: 0.9em;
          line-height: 24px;
          color: #243e60;
          margin-bottom: 0;
          @media screen and (max-width: 800px) {
            font-size: 0.8em;
            line-height: 20px;
          }
        }
      }
      .bb-admission-container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 2rem;
        background: #ffffff;
        box-shadow: 2px 2px 25px rgba(0, 0, 0, 0.1);
        @media screen and (max-width: 800px) {
          padding-bottom: 2rem;
          padding: 0.5rem;
        }
        .bb-admission-section-title {
          font-size: 2em;
          font-weight: bold;
          color: #ffb800;
          @media screen and (max-width: 800px) {
            font-size: 1em;
            line-height: 40px;
            margin-bottom: 0;
            margin-left: 1rem;
            padding-top: 0.5em;
          }
          span {
            display: block;
          }
        }
        .bb-admission-section-subtitle {
          margin: 2em auto;
          margin-bottom: 3em;
          max-width: 55em;
          @media screen and (max-width: 900px) {
            font-size: 0.9em;
          }
        }

        .bb-admission-timline {
          text-align: initial;
          max-width: 850px;
          margin: 3em auto;
          position: relative;
          @media screen and (max-width: 800px) {
            margin: 0em;
          }

          .bb-admission-vl {
            border-left: 1px solid #7e7e7e80;
            height: 100%;
            position: absolute;
            left: 0.8em;
            z-index: 1;
            top: -1em;
          }

          .bb-admission-section {
            margin-top: 1.5em;
            margin-bottom: 3em;
            .bb-admission-title {
              display: flex;
              align-items: center;
              .bb-admission-deco {
                z-index: 2;
                width: 25px;
                height: 25px;
                display: block;
                border-radius: 10px;
                content: "";
                border-radius: 100%;
                background: #f1ae13;
                border: 1px solid #ffffff;
                box-shadow: 1px 1px 1px rgb(0 0 0 / 20%);
                margin-right: 1em;
                @media screen and (max-width: 900px) {
                  width: 15px;
                  margin-left: 6px;
                  height: 15px;
                  min-width: 15px;
                }
              }

              .bb-admission-title-text {
                color: #ffb800;
                font-weight: bold;
                font-size: 1.3em;
                @media screen and (max-width: 900px) {
                  font-size: 0.9em;
                }
              }
            }

            .bb-admission-description {
              font-size: 1em;
              line-height: 26px;
              margin-top: 0.5em;
              margin-left: 3em;
              color: rgba(0, 0, 0, 0.7);
              @media screen and (max-width: 900px) {
                font-size: 0.9em;
                line-height: 20px;
              }
            }
          }
        }
      }
    }
  }
}
